.all-input{
    margin-top: 50px;
    margin-bottom: 50px;
}
.all-input h6{
    margin-bottom: 20px;
    font-weight: bold;
}
.name{
  display: flex;
  width: 465px;
}
.name .input-label input{
    width: 225px !important;
    margin-left: 5px;
}
.other-information{
    display: flex;
    flex-direction: column;
}

.input-label{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}
.input-label label{
     color :#989595;
     font-weight: 700;
}
.input-label input,.input-label select, textarea{
    border: 2px solid #ececec;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 450px !important;
    height:45px
}
textarea{
    
    height: 200px;
    padding: 13px !important;
}
@media (max-width:913px){
    .input-label input, .input-label select, textarea{width: 500px;}

}
@media (max-width:820px) {
    .name .input-label input{width: 250px;}
}

@media(max-width: 415px){
    .all-content{justify-content: center;}
    .name{flex-direction: column;}
    .name .input-label input{width: 360px;}
    .input-label input, .input-label select, textarea{width: 360px;}
}