.informatin-of-product h5{margin-bottom: 15px;}
.informatin-of-product p
,.detile{
    font-size: 18px;
    color: #6d6d6d;
    margin-bottom: 15px;
    width:80%;
}
.informatin-of-product span{
    margin-right: 10px;
}
.company{font-weight: bold; color: black;}
.btn-add-to-cart{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.btn-add-to-cart button{
    background-color: #EC7D23;
    width: 445px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    margin-left: 5px;
    box-shadow: 0px 0px 6px 0px #b7b7b778;
}

.qty-wishlist{
    display: flex;
    position: relative;
}
.dec-inc-btn{
    display: flex;
    flex-direction: column;
}
.qty-wishlist .dec-inc-btn .qty-btn {
    width: 25px;
    height: 25px;
    background-color: #EC7D23;
    color: #444;
    cursor: pointer;
    margin-left: -14px;
    box-shadow: none !important;
    border-radius: 0px;
    z-index: 3;
}
.qty-wishlist .dec-inc-btn .qty-btn i{color:#fff}
.qty-wishlist .qty-span{
    width: 75px;
    background-color: #EC7D23;
    height: 50px;
    border-radius: 2px;
}

.btn-add-to-wishlist button{
    width: 340px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    color: #fff;
    background-color: #65615E;
    height: 50px;
}
.btn-add-to-wishlist select{
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    color: rgb(63, 62, 62);
    background-color: #F6F5F5;
    height: 50px;
    width: 190px;
    text-align: center;
    padding: 10px;
}
@media (max-width:1280px){
    .main-img {width: 365px; }
}
@media (max-width:1024px){
    .btn-add-to-cart button{width: 245px;}
    .btn-add-to-wishlist button{width: 194px;font-size: 16px;}
    .btn-add-to-wishlist select{  width: 140px;}
}
@media (max-width:912px){
    
.btn-add-to-cart button{width: 135px;font-size: 12px;}
.btn-add-to-wishlist button {width: 124px;font-size: 10px;}
.btn-add-to-wishlist select{ width: 104px;font-size: 12px;}
}
@media (max-width:540px){
    .flex{display: flex;flex-direction: column;}
    
    .btn-add-to-cart button{width: 240px;font-size: 12px;}
    .btn-add-to-wishlist button {width:  160px;font-size: 10px;}
    .btn-add-to-wishlist select{ width:  160px;font-size: 12px;}
}
@media (max-width:280px){
    .btn-add-to-cart button{width: 140px;font-size: 12px;}
    .btn-add-to-wishlist button {width:  120px;font-size: 10px;}
    .btn-add-to-wishlist select{ width:  120px;font-size: 12px;}
}