.profile-cart{
    width: 1070px !important;
    background-color: #fff;
    box-shadow: 0px 0px 7px 2px #eeeeee8c;
    border-radius: 5px;
    display: flex;
    margin-top: 40px;
  
}
.nav-right{
    
    background-color: #13172d;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: -12px;
    color: #fff;
    border-radius: 15px 5px 5px 15px;
}

.meun{
    margin-top: 40px;
}
.meun ul li{
    height: 41px;
    width: 200px;
    padding: 2px 15px;
    margin-bottom: 21px;
    line-height: 35px;
    display: flex;
    align-items: center

   
}


.meun ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500 !important;
    width: 200px;
}
.meun ul li:first-child a.hade{display: none;}
.meun ul li.show:hover:not(li:first-child) {
     border-left: 4px solid #fff;
     background-color: #eeeeee5c;
    transition: 0.5s all ease-in-out;
}
.meun ul li i{
color: #ffffff;
margin-left: 10px;
cursor: pointer;
}

.email{
    color: #ffffff !important;
}
.hade{
    display: none;
}
.show{
    display: block;
}
@media (max-width: 1024px){
    .order{width: 370px}
    .product-info-content {width: 445px;}
}
    
@media (max-width: 913px){
}
@media (max-width:820px) {
    
    }
    @media (max-width:712px){
   
    }
    @media (max-width:540px){
        .profile-cart {
            flex-direction: row;
            width: 441px !important;
        }
        
    }
    @media(max-width: 415px){
        
    }