
.carousel-item {
    height: 500px  !important;
    
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 300px;
      cursor: pointer;
      
  }
  @media (max-width:913px){
  .carousel-inner {height: 300px !important;}
  }