.flex-content{
    display: flex;
    margin: auto 85px 45px;
}
@media (max-width:1280px){
    .list-items{justify-content: flex-start;}
}
@media (max-width:1024px){
    .flex-content{margin: 0px;}
}
@media (max-width:912px){
}
@media (max-width:540px){
    
}
@media (max-width:280px){

}