.privacy-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.privacy-text{width: 65%;}
.privacy-text span{
    font-weight: 500;
    font-size: 19px;
    color: #5b5a5a !important;
}
.privacy-text p{
    color: #797878 !important;
    font-size: 17px;
    white-space: pre-line;
    margin-top: 10px;
    margin-right: 20px;
}
.privacy-text ul{margin-bottom: 15px;}
.privacy-text ul li{ 
    position: relative;
    margin-right: 35px;
    font-size: 17px;
    color: #797878
}
ul li::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 145, 0);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 10px;
    right: -15px;
}