.pagination{
display: flex;
padding-left: 0;
list-style: none;
justify-content: center;
}
.page-item {
    list-style: none;
    font-size: 20px;
    background-color: #3e3e3e;
    margin: 0px 4px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}
.page-item a{
    padding: 14px;
    line-height: 2px;
    color: #fff;
    text-decoration: none;
}
.page-item a:hover{
    color: #ff7d32;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
    background-color: #3e3e3e

}
.page-item.active .page-link {
    background-color: #ff7d32;
    color: #fff;
    border: none;
    outline: none;
}