.offers{
    margin-bottom: 40px;
}
.offer-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.offer{
    width: 404px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 0px 0;
    height: 300px;
    position: relative;
}
.offer img{border-radius: 5px;}

.offer button{
    position: absolute;
    background-color: #fff;
    width: 135px;
    height: 41px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 1px;
    bottom: 50px;
    left: 43px;
    transition: all 0.5s ease;
}
.offer:nth-child(2) button{
    background-color: #FF6C16;
    color: #ffff;
}
.offer button:hover{
    background-color: #202020;
    color: #ffff;
}
.products{
    display: flex;
    justify-content: center;
}
@media (max-width:1280px){
    .offer{
        width: 540px;
    }
}
@media (max-width:1024px){
    .offer{ width: 450px;}
}
@media (max-width: 913px){
.offer {width: 90%;}

}
@media (max-width:820px) {
    .offer-content {
        width: fit-content;
        margin-right: auto;
    }
}
@media (max-width:540px){
    
}
@media(max-width: 415px){
    .carousel-inner {height: 150px ;}
    .offer-content{width: fit-content;margin-right: 10px;}
    .offer {width:290px !important;margin-top: 60px;padding: 20px;}
    .offer-text button {width: 129px;}
    .offer img{max-width: 50%;}
    .offer-text p {font-size: 34px; width: 94px;margin-right: 10px;}
    .offer-text button{margin-right: 10px;}
}