.list-items{
    width: 75%;
    
}
.product-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.product-empty img{width: 350px;opacity: 0.6;}
.product-empty h5{color: #999;}
.products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}